@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC");
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

*, *::after, *::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  height: -moz-fit-content;
  height: fit-content;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

:root {
  --radius:90vh;
}

body {
  background-image: url("../static/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 97vh;
  display: flex;
  justify-content: space-between;
  transition: background-image 2s cubic-bezier(0.7, 1, 0.3, 1);
  overflow: hidden;
}

.wrapper {
  height: 97vh;
  display: flex;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  height: -moz-fit-content;
  height: fit-content;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-bar {
  z-index: 20;
  float: left;
  max-height: 100%;
  min-width: -moz-fit-content;
  min-width: fit-content;
  background-color: #18aad7;
  display: flex;
  flex-direction: column;
  border: 1 gray solid;
  border: 2px solid black;
  border-radius: 8px 8px 14px 14px;
  padding: 15px 5px 5px 5px;
  background: rgba(81, 88, 91, 0.7607843137);
  min-height: -moz-fit-content;
  min-height: fit-content;
  position: fixed;
}
.nav-bar .logo {
  background-color: gra;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  margin-bottom: 10%;
}
.nav-bar .logo .sername {
  padding-left: 40%;
  color: rgb(130, 104, 66);
}
.nav-bar .nav {
  display: flex;
  flex-direction: column;
  position: sticky;
  border: 2px solid black;
  border-radius: 14px;
  background-color: rgba(163, 162, 162, 0.7);
}
.nav-bar .nav :last-child {
  border-radius: 0 0 12px 12px;
}
.nav-bar .nav :first-child {
  border-radius: 12px 12px 0 0;
}
.nav-bar .nav__item {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 4px;
  cursor: pointer;
}
.nav-bar .nav__item:hover {
  background-color: rgba(116, 112, 115, 0.4);
}
.nav-bar .nav .selected {
  background-color: rgb(130, 104, 66);
  color: #ffffff;
  border: solid black 1px;
}

#card0 {
  background-color: rgba(142, 119, 88, 0.7);
}

#card1 {
  background-color: rgba(115, 68, 45, 0.7);
}

#card2 {
  background-color: rgba(3, 14, 129, 0.7);
  color: rgb(219, 216, 216);
}

#card3 {
  background-color: rgba(169, 138, 105, 0.7);
}

#card4 {
  background-color: rgba(24, 93, 123, 0.7);
  color: rgb(213, 212, 212);
}

#card5 {
  background-color: rgba(127, 131, 133, 0.7);
}

#card6 {
  background-color: rgba(0, 94, 183, 0.7);
  color: rgb(227, 226, 226);
}

#card7 {
  background-color: rgba(87, 84, 84, 0.7);
}

#card8 {
  background-color: rgba(135, 133, 129, 0.7);
}

.dashboard {
  display: flex;
  width: 92%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.dashboard .card {
  max-width: -moz-fit-content;
  max-width: fit-content;
  border: 5px solid gray;
  position: absolute;
  border-radius: 7%;
  display: flex;
  justify-content: start;
  align-items: start;
  transition: top 2s cubic-bezier(0.7, 1, 0.3, 1), left 2s cubic-bezier(0.7, 1, 0.3, 1), width 1s cubic-bezier(0.7, 1, 0.3, 1), height 1s cubic-bezier(0.7, 1, 0.3, 1), zIndex 4s cubic-bezier(0.7, 1, 0.3, 1);
}
.dashboard .card h1, .dashboard .card h2, .dashboard .card h3, .dashboard .card h4, .dashboard .card h5, .dashboard .card h6, .dashboard .card p {
  transition: font-size 1s cubic-bezier(0.7, 1, 0.3, 1);
  background-color: 1s cubic-bezier(0.9, 0.7, 0.3, 1);
}
.dashboard .card p, .dashboard .card li, .dashboard .card figcaption {
  transition: font-size 1s;
}
.dashboard .card:hover {
  background-color: red;
}
.dashboard .card .container {
  max-width: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  transition: top 2s cubic-bezier(0.7, 1, 0.3, 1), left 2s cubic-bezier(0.7, 1, 0.3, 1), width 1s cubic-bezier(0.7, 1, 0.3, 1), height 1s cubic-bezier(0.7, 1, 0.3, 1), zIndex 4s cubic-bezier(0.7, 1, 0.3, 1);
}
.dashboard .card .container ul {
  width: 100%;
}
.dashboard .card .container ul li {
  text-align: start;
  float: right;
  width: 93%;
}
.dashboard .card__title {
  text-align: center;
}
.dashboard .card__description {
  text-align: start;
}

.more {
  position: absolute;
  bottom: 2%;
  right: 6%;
  cursor: pointer;
}
.more:hover {
  color: white;
  text-shadow: -6px 5px 16px white;
}

.personal_info {
  position: relative;
}
.personal_info__id {
  display: block;
  text-align: center;
  width: 100%;
}
.personal_info__id__image {
  width: 92%;
  -o-object-fit: contain;
     object-fit: contain;
}
.personal_info__id__text {
  width: 100%;
  display: block;
  font-family: monospace;
}
.personal_info__id__text span {
  font-family: monospace;
  color: rgb(100, 50, 0);
}
.contact {
  position: relative;
}
.contact__text {
  font-family: monospace;
}
.contact__list {
  font-family: monospace;
}
.contact__list .link {
  color: blue;
}

.projects {
  position: relative;
  max-height: 100%;
}
.projects__filter__language {
  border: gray 2px solid;
  border-radius: 6px;
}
.projects .projectsList {
  -moz-text-align-last: start;
       text-align-last: start;
  width: 90%;
}
.projects .projectsList .project__name {
  cursor: pointer;
}
.projects .description {
  border-top: 2px solid gray;
  height: 40%;
  text-align: start;
  transition: font-size 0s;
}
.projects .description__title {
  font-weight: 500;
  transition: font-size 0s !important;
}
.education .courses {
  text-align: start;
  margin: 0;
  padding: 0;
}
.education .courses .course {
  width: 100%;
}
.education .courses .course__by {
  display: flex;
  justify-content: space-between;
}
.devops .cloud {
  text-align: start;
}
.devops .cloud__title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}
.cont {
  width: 100px;
  height: 100px;
  background-color: red;
}
.certifications .certifications-list {
  text-align: start;
}

.skills .skill-list {
  text-align: start;
}

.works .work-list {
  text-align: start;
  padding-left: 0;
}
.feedback .letter {
  width: 100%;
}
.feedback .letter #message {
  transition: width 2s;
  background-color: transparent;
  width: 100%;
}

#extension {
  width: 50%;
  display: none;
}

.exit {
  position: absolute;
  top: 2%;
  right: 6%;
  cursor: pointer;
}
.exit:hover {
  color: white;
  text-shadow: -6px 5px 16px white;
}/*# sourceMappingURL=main.css.map */