@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC");
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  height: -moz-fit-content;
  height: fit-content;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --radius:90vh;
}

body {
  background-color: rgb(48, 46, 46);
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  height: -moz-fit-content;
  height: fit-content;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#card0 {
  background-color: #0a3d7b;
}

#card1 {
  background-color: green;
}

#card2 {
  background-color: rgb(61, 69, 61);
}

#card3 {
  background-color: gold;
}

#card4 {
  background-color: rgb(52, 196, 12);
}

.wrapper {
  text-align: center;
  display: flex;
}
.wrapper .card {
  top: 60px;
  border: 4px solid gray;
  position: absolute;
  box-shadow: 5px 5px 15px 5px #473e3e;
  border-radius: 10% 6%;
  display: flex;
  justify-content: center;
  align-items: start;
}
.wrapper .card::before {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  top: -30px;
  left: 10px;
  border: gray solid 4px;
  padding: 4px 8px;
  color: gray;
  font-weight: 800;
  box-shadow: 5px 5px 15px 5px #2f2a2a;
  border-radius: 20px 7px;
  padding: 10px 5px;
}
.wrapper .card__title {
  margin-bottom: 20px;
}
.wrapper .card .container {
  width: 93%;
  border: 1px solid black;
  min-height: -moz-fit-content;
  min-height: fit-content;
  max-height: 99%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper .card div:not(:last-child) {
  margin-bottom: 8%;
}
.wrapper .card h1 {
  font-size: 5%;
}

.personal_info {
  position: relative;
}
.personal_info__id {
  display: block;
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
}
.personal_info__id__image {
  width: 97%;
  -o-object-fit: contain;
     object-fit: contain;
}
.personal_info__id__text {
  width: 100%;
  display: block;
  font-family: monospace;
}
.personal_info__id__text span {
  font-family: monospace;
  color: #18aad7;
}
.contact {
  position: relative;
}
.contact__text {
  font-family: monospace;
}
.contact__list {
  font-family: monospace;
}
.contact__list .link {
  color: blue;
}

.projects {
  position: relative;
}
.projects__filter {
  background-color: red;
}
.projects__filter__language {
  border: gray 2px solid;
  border-radius: 6px;
}
.projects .projectsList {
  -moz-text-align-last: start;
       text-align-last: start;
  width: 90%;
}
.projects .projectsList .project__name {
  cursor: pointer;
}
.projects .description {
  border-top: 2px solid gray;
  text-align: start;
}
.projects .description__title {
  font-weight: 500;
}
.education .courses {
  text-align: start;
  margin: 0;
  padding: 0;
}
.education .courses .course {
  width: 100%;
}
.education .courses .course__by {
  display: flex;
  justify-content: space-between;
}
.education .courses .course:not(:last-child) {
  margin-bottom: 3%;
}

.devops .cloud {
  text-align: start;
}
.devops .cloud__title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}
.cont {
  width: 100px;
  height: 100px;
  background-color: red;
}
.cont .primary {
  font-size: 80vm;
}
.cont .test {
  font-size: 50vm;
}/*# sourceMappingURL=main.css.map */