@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC");
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

*, *::after, *::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  height: -moz-fit-content;
  height: fit-content;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

:root {
  --radius:90vh;
}

body {
  background-color: rgb(48, 46, 46);
  height: 97vh;
  display: flex;
  justify-content: space-between;
}

.wrapper {
  height: 97vh;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  height: -moz-fit-content;
  height: fit-content;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-bar {
  height: 99vh;
  min-width: -moz-fit-content;
  min-width: fit-content;
  background-color: #18aad7;
  display: flex;
  flex-direction: column;
  border: 1 gray solid;
  border: 2px solid black;
  border-radius: 7px;
  padding: 15px 5px;
  background: rgba(127, 138, 142, 0.7607843137);
}
.nav-bar .logo {
  background-color: gra;
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(95, 98, 110);
  margin-bottom: 10%;
}
.nav-bar .logo .sername {
  padding-left: 40%;
  color: rgb(86, 67, 67);
}
.nav-bar .nav {
  display: flex;
  flex-direction: column;
  position: sticky;
}
.nav-bar .nav__item {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 4px;
  cursor: pointer;
}
.nav-bar .nav__item:hover {
  border-radius: 8px;
  background-color: rgba(116, 112, 112, 0.4);
}
.nav-bar .nav .selected {
  background-color: rgb(1, 1, 1);
  color: #2e0ecb;
}

#card0 {
  background-color: rgba(8, 8, 220, 0.9);
}

#card1 {
  background-color: rgba(5, 161, 5, 0.9);
}

#card2 {
  background-color: rgba(61, 69, 61, 0.9);
}

#card3 {
  background-color: rgba(238, 204, 6, 0.9);
}

#card4 {
  background-color: rgba(52, 196, 12, 0.9);
}

#card5 {
  background-color: rgba(131, 47, 211, 0.9);
}

#card6 {
  background-color: rgba(199, 105, 22, 0.9);
}

#card7 {
  background-color: rgba(87, 84, 84, 0.9);
}

#card8 {
  background-color: rgba(7, 96, 174, 0.9);
}

.dashboard {
  display: flex;
  width: 92%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.dashboard .card {
  border: 5px solid gray;
  position: absolute;
  box-shadow: 9px 9px 1px 3px gray, 9px 9px 5px 3px #000000;
  border-radius: 7%;
  display: flex;
  justify-content: center;
  align-items: start;
  transition: top 2s, left 2s, width 1s, height 1s, zIndex 4s;
}
.dashboard .card h1, .dashboard .card h2, .dashboard .card h3, .dashboard .card h4, .dashboard .card h5, .dashboard .card h6, .dashboard .card p {
  transition: font-size 1s;
}
.dashboard .card p, .dashboard .card li, .dashboard .card figcaption {
  transition: font-size 1s;
}
.dashboard .card:hover {
  background-color: red;
}
.dashboard .card::before {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  top: -30px;
  left: 10px;
  border: gray solid 4px;
  padding: 4px 8px;
  color: gray;
  font-weight: 800;
  box-shadow: 5px 5px 15px 5px #2f2a2a;
  border-radius: 20px 7px;
  padding: 10px 5px;
}
.dashboard .card .container {
  width: 93%;
  border: 1px solid black;
  min-height: -moz-fit-content;
  min-height: fit-content;
  max-height: 99%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dashboard .card .container ul {
  width: 100%;
}
.dashboard .card .container ul li {
  text-align: start;
  float: right;
  width: 93%;
}
.dashboard .card__title {
  text-align: center;
}
.dashboard .card__description {
  text-align: start;
}

.personal_info {
  position: relative;
}
.personal_info__id {
  display: block;
  text-align: center;
  width: 100%;
}
.personal_info__id__image {
  width: 97%;
  -o-object-fit: contain;
     object-fit: contain;
}
.personal_info__id__text {
  width: 100%;
  display: block;
  font-family: monospace;
}
.personal_info__id__text span {
  font-family: monospace;
  color: #18aad7;
}
.contact {
  position: relative;
}
.contact__text {
  font-family: monospace;
}
.contact__list {
  font-family: monospace;
}
.contact__list .link {
  color: blue;
}

.projects {
  position: relative;
  max-height: 100%;
}
.projects__filter {
  background-color: red;
}
.projects__filter__language {
  border: gray 2px solid;
  border-radius: 6px;
}
.projects .projectsList {
  -moz-text-align-last: start;
       text-align-last: start;
  width: 90%;
}
.projects .projectsList .project__name {
  cursor: pointer;
}
.projects .description {
  border-top: 2px solid gray;
  height: 40%;
  text-align: start;
  transition: font-size 0s;
}
.projects .description__title {
  font-weight: 500;
  transition: font-size 0s;
}
.education .courses {
  text-align: start;
  margin: 0;
  padding: 0;
}
.education .courses .course {
  width: 100%;
}
.education .courses .course__by {
  display: flex;
  justify-content: space-between;
}
.devops .cloud {
  text-align: start;
}
.devops .cloud__title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}
.cont {
  width: 100px;
  height: 100px;
  background-color: red;
}
.certifications .certifications-list {
  text-align: start;
}

.skills .skill-list {
  text-align: start;
}

.works .work-list {
  text-align: start;
  padding-left: 0;
}
.feedback .letter {
  width: 100%;
}
.feedback .letter #message {
  transition: width 2s;
  background-color: transparent;
  width: 100%;
}/*# sourceMappingURL=main.css.map */