
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');
     
h1,h2,h3,h4,h5,h6,p { margin: 0;}
html { box-sizing: border-box;}
*,*::after,*::before { box-sizing: inherit;}
img { display: block; max-width: 100%; height: auto;object-fit: cover;}
address { font-style: normal;}
.link { text-decoration: none; color: inherit; cursor: pointer;height: fit-content;}
.list { list-style: none; padding: 0; margin: 0;} 
a{ text-decoration: none;}
li{list-style: none;}

:root{
    --radius:90vh;

}
body{
    background-color: rgb(48, 46, 46);

}
.link { text-decoration: none; color: inherit; cursor: pointer;height: fit-content;}
.list { list-style: none; padding: 0; margin: 0;} 
.container{
    text-align: center;
    display: flex;
    padding: 60px;
     >li{
        top: 60px;
        border: 4px solid gray;
        position: absolute;
        box-shadow: 5px 5px 15px 5px #473e3e;
        display: flex;
        flex-direction: column ;
        border-radius: 40px 14px;
        align-items: center;
        &::before{
            position: absolute;
            width: fit-content;
            top: -30px;
            left: 10px;
            border: gray solid 4px;
            padding: 4px 8px;
            color: gray;
            font-weight: 800;
            box-shadow: 5px 5px 15px 5px #2f2a2a;
            border-radius: 20px 7px;
            padding:10px 5px;
        }
        &>div{
            width: 90%;
            border: 1px solid black;
            max-height: fit-content;
            
        }
        div:not(:last-child){
            margin-bottom:8% ;
        }
        h1{
            font-size: 5%
        }
    }
}


.personal_info{
    background-color: #0a3d7b;
    position: relative;
    &::before{
        content: "About me";
        background-color: #0a3d7b;
    }
    &__id{
        display: block;
        text-align: center;
        margin-bottom: 40px;
        width: 100%;
        &__image{
            width: 97%;
        }
        &__text{
            width:100%;
            display: block;
            font-family: monospace;

            padding: 4px 10px;
            span{
                font-family: monospace;
                color: #18aad7;
            }
        }

    }
    .extra{
    }
}
.contact{
    background-color: green;
    position: relative;
    &::before{
        content: "Contacts";
        background-color: green;
    }
    &__text{
        font-family: monospace;
        margin-bottom: 50px;
    }
    &__list{
        font-family: monospace;
        .link{
            color: blue;
        }
    }
}


img {
    object-fit: contain;
}

.projects{
    background-color: rgb(61, 69, 61);
    position: relative;
    &__title{
        margin-bottom: 30px;
        
    }
    &__filter{
        background-color: red;
        margin-bottom: 20px;
        &__language{
            border: gray 2px solid;
            padding: 4px 7px;
            border-radius: 6px;
            margin-right: 40px;
        }
        &__Date{
            
        }
    }
    .projectsList{
     
        text-align-last: start;
        width: 90%;
        .project{
            margin-bottom: 5px;
            .item{
            }
            &__name{
                cursor: pointer;

            }
        }
    }
    .description{
        position: absolute;
        top:50%;
        padding: 20px 5px;
        border-top: 2px solid gray;
        width: 90%;
        text-align: start;
        &__title{
            margin-bottom: 10px;
        }
        &__text{
            
        }
    }
}
.education{
    background-color: gold;


}

.devops{
    background-color: green;
    align-items: start;
}

.cont{
    width: 100px;
    height: 100px;

    background-color: red;
    .primary{
        font-size: 80vm;
    }
    .test{
        font-size:50vm;
    }
}
